body,html{
  background-color: #282F44;
}

#pageContainer{
 display: flex;
 flex-wrap: wrap;
}

.left {
  border: 2px solid blue;
  max-width: 60%;
}

.left h1 {
  text-align: center;
}

.right {
  border: 2px solid red;
  max-width: 30%;
  align-items: center;
}