body,html{
  background-color: #282F44;
}

#pageContainer{
 display: flex;
 flex-wrap: wrap;
}

.left {
  max-width: 60%;
}

.left h1 {
  text-align: center;
}

.right {
  align-items: center;
  max-width: 30%;
  padding-top: 20px;
  height: 500px;
}


@media(max-width: 1000px){
  #pageContainer{
    display: block;
    float: right;
    width: 75%;
  }
}