/* news container containing all nes items */
.news-container {
  margin-left: 160px;
  height: 100%;
  background-color: #282F44;
  overflow: auto;
}

/* side navigation bar */
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  margin-top: 10px;
  z-index: 1;
  top: 60px;
  left: 0;
  background-color:hsl(216, 50%, 16%);
  overflow-x: hidden;
  padding-top: 20px;
  margin-top: 60px;
}

/* items in navigation bar */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* hover links */
.sidenav a:hover {
  color: #f1f1f1;
}

/* styling for titles */
h3 {
  color: #38AECC;
  cursor: pointer;
}

/* styling for lines */
hr {
  background-color: #6FD08C;
  height: 1px;
  border: none;
}