/* header css, round corners, wrap header around text and set padding  */
.header {
    overflow: hidden;
    background-color:hsl(216, 50%, 16%);
    padding: 20px 10px;
    text-align: right;
    padding-right: 40px;
    width: 100%;
}

  .linkStyle {
    color: #38AECC;
    text-decoration: none;
    margin: 5px;
    padding-right: 20px;
    font-size: 20px;
  }

    .logout-style {
      background: #00a991;
      color: #fff;
      border-radius: 8px;
      outline: none;
      cursor: pointer;
      margin: 5px;
    }

#logo{
  position: relative;
  float: left;
  height: 80px;
}

#appName{
  position: absolute;
  padding-left: 80px;
}

.page-links{
  padding-top: 25px;
}

@media(max-width: 45em) {
  .header{
    height: fit-content;
    text-align: center;
  }
  .onTop{
    position: relative;
  }
}
