/* header css, round corners, wrap header around text and set padding  */
.header {
    overflow: hidden;
    background-color: #191D32;
    padding: 20px 10px;
    
    text-align: right;
    
  }

  .linkStyle {
    color: #38AECC;
    text-decoration: none;
    margin: 5px;
  }